<!--
************************************************************************** 
    Program Name    :   私のプログラム置き場 
    Author          :   Iguchi Yoko
    Created Date    :   2019/01/26
    Update Date     :   2019/01/26
**************************************************************************
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title><%= title %></title>
</head>
<body>
    <div class="center">
        <h1><%= title %></h1>
        <div class="box5">
            <h3>Sample 1</h3>
            <!-- <p><a href="/test.txt">登録した単語をランダムに組み合わせるプログラム</a></p> -->
            <p><a href="/make-domain">登録した単語をランダムに組み合わせるプログラム</a></p>
        </div>
        <div class="box5">
            <h3>Sample 2</h3>
            <p><a href="#">***** プログラム</a></p>
        </div>
        <div class="box5">
            <h3>Sample 3</h3>
            <p><a href="#">***** プログラム</a></p>
        </div>
    </div>
</body>
</html>